[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
uwsgi = "*"
"boto3" = "*"
"psycopg2-binary" = "*"
django-storages = "*"
djangorestframework = "*"
django-allauth = "*"
django-extensions = "*"
django-rest-framework = "*"
pygments = "*"
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"

jupyter = "*"

selenium = "*"


[dev-packages]
awsebcli = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
