{% extends 'base.html' %}
{% block content %}
        <div class="card" style="width: 50%; min-width: 600px; margin: auto">
            <div class="card-title">
                <p style="text-align: center"><strong>{{ product.title }}</strong></p>
                <p style="text-align: right">{{ product.region }}</p>
                <p style="text-align: right">{{ product.review }}</p>
            </div>
            <div class="card-body">
                <p>{{ product.product_type }} : {{ product.product_type_a }}</p>
                <p>{{ product.meet_time }} : {{ product.meet_time_a }}</p>
                <p>{{ product.time }} : {{ product.time_a }}</p>
                <p>{{ product.language }} : {{ product.language_a }}</p>
                <p>{{ product.guide_name }}</p>
                <p>{{ product.guide_desc }}</p>
                <p>{{ product.introduce }}</p>
                <p>{{ product.introduce_desc }}</p>

            </div>
        </div>

{% endblock %}