{% extends 'base.html' %}
{% block content %}
    <h1>Login Page</h1>

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit" class="btn btn-info">로그인</button>
        </form>

        <a href="https://www.facebook.com/v3.0/dialog/oauth?
	client_id=307854616422747&redirect_uri=http://localhost:8000/members/facebook-login/
	&scope=email,public_profile" class="btn btn-primary">Facebook 로그인</a>
    </div>

{% endblock %}