{% extends 'base.html' %}
{% block content %}
{% load i18n %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>이메일 인증이 완료되었습니다. 다시 로그인해주세요!</p>

                        <p><a class="btn btn-primary" href="{% url 'members:login' %}">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}