<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="container">
			<a href="{% url 'index' %}" class="navbar-brand">your <span class="text-info">real</span> trip</a>
			<div class="">
				<ul class="navbar-nav ml-auto">
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Signup</a>
					</li>
					{% endif %}
					<li class="nav-item"></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>