{% extends 'base.html' %}

{% block content %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'popular-city-list' %}">티켓 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'flight-list' %}">항공권 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'country-list' %}">인기호텔 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'city-list' %}">한인민박 검색</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'accom-search-list' %}">호텔 검색</a>
        </li>
    </ul>

{% endblock %}
